USE [master]
GO
/****** Object:  Database [NexosClienteDB]    Script Date: 29/01/2022 2:50:09 p. m. ******/
CREATE DATABASE [NexosClienteDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexosClienteDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NexosClienteDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexosClienteDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\NexosClienteDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexosClienteDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexosClienteDB]
GO
/****** Object:  Table [dbo].[Autores]    Script Date: 29/01/2022 2:50:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](250) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[CiudadNacimiento] [varchar](150) NOT NULL,
	[Email] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Autores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
